#!/usr/bin/env bash

# must be sourced: source aliases.sh <day> [input_file]

DAY=$(printf "%02d" "$1")
INPUT="test/${1}.txt"

alias t="uv run day${DAY}.py ${INPUT}"
alias i="uv run day${DAY}.py"

echo "t -> run day ${1} sample input: ${INPUT}, i -> run real day ${1} input"
